<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Advice Group | Weather</title>
    <link rel="stylesheet" href="{{url_for('static',filename='weather.css')}}">
    
</head>
<body>
    <div class="navbar">
        <img src="/static/site/logo.png" alt="logo">
        <a class="home" href="/">Home</a>
        <a class="blog" href="/blog">Blog</a>
        <a class="weather" href="/weather">Weather</a>
        <a class="contact" href="/contact">Contact</a>
    </div>
    <div class="Weather-title">
        <h1>Weather Forecast</h1>
        <h3>Next 10 hours</h3>
    </div>
    <h2 class="Location">City, COUNTRY</h2>

    <!--Weather forecast-->
    <div class="Weather-body">
        <div class="Hour0">
            <h6 class="Time0">Now</h6>
            <img src="https://openweathermap.org/img/wn/10d@2x.png">
            <h6 class="Temp0">Now</h6>
        </div>
        <div class="Hour1">
            <h6 class="Time1">Now</h6>
            <img src="https://openweathermap.org/img/wn/10d@2x.png">
            <h6 class="Temp1">Now</h6>
        </div>
        <div class="Hour2">
            <h6 class="Time2">Now</h6>
            <img src="https://openweathermap.org/img/wn/10d@2x.png">
            <h6 class="Temp2">Now</h6>
        </div>
        <div class="Hour3">
            <h6 class="Time3">Now</h6>
            <img src="https://openweathermap.org/img/wn/10d@2x.png">
            <h6 class="Temp3">Now</h6>
        </div>
        <div class="Hour4">
            <h6 class="Time4">Now</h6>
            <img src="https://openweathermap.org/img/wn/10d@2x.png">
            <h6 class="Temp4">Now</h6>
        </div>
        <div class="Hour5">
            <h6 class="Time5">Now</h6>
            <img src="https://openweathermap.org/img/wn/10d@2x.png">
            <h6 class="Temp5">Now</h6>
        </div>
        <div class="Hour6">
            <h6 class="Time6">Now</h6>
            <img src="https://openweathermap.org/img/wn/10d@2x.png">
            <h6 class="Temp6">Now</h6>
        </div>
        <div class="Hour7">
            <h6 class="Time7">Now</h6>
            <img src="https://openweathermap.org/img/wn/10d@2x.png">
            <h6 class="Temp7">Now</h6>
        </div>
        <div class="Hour8">
            <h6 class="Time8">Now</h6>
            <img src="https://openweathermap.org/img/wn/10d@2x.png">
            <h6 class="Temp8">Now</h6>
        </div>
        <div class="Hour9">
            <h6 class="Time9">Now</h6>
            <img src="https://openweathermap.org/img/wn/10d@2x.png">
            <h6 class="Temp9">Now</h6>
        </div>
    </div>
    <script src="{{url_for('static',filename='weather.js')}}"></script>


    <!-- Pollen counts -->
    <div class="Pollen">
        <h1 class="Pollen-title">Pollen Today</h1>
        <h3 class="Pollen-Grass">Grass ppm</h3>
        <h3 class="Pollen-Trees">Trees ppm</h3>
        <h3 class="Pollen-Weeds">Weeds ppm</h3>
    </div>

    <!-- Air quality -->
    <div class="Air-Q">
        <div class="Air-Q-title">
            <h1>Pollution</h1>
            <h2>NO<sub>2</sub> Concentration, Last 5 years</h2>
        </div>
        <h3 class="Year0">2021&nbsp&nbsp&nbsp0.807 μg/m<sup>3</sup></h3>
        <h3 class="Year1">2020&nbsp&nbsp&nbsp0.807 μg/m<sup>3</sup></h3>
        <h3 class="Year2">2019&nbsp&nbsp&nbsp0.807 μg/m<sup>3</sup></h3>
        <h3 class="Year3">2018&nbsp&nbsp&nbsp0.807 μg/m<sup>3</sup></h3>
        <h3 class="Year4">2017&nbsp&nbsp&nbsp0.807 μg/m<sup>3</sup></h3>
        <h3 class="Copyright"><i>© Crown copyright 2021 Defra via uk-air.defra.gov.uk, licensed under the Open Government Licence.</i></p>
    </div>

    <!-- Advice -->
    <div class="Advice">
        <h1>Advice</h1>
        <div class="help0">
            <h2>Raining soon</h2>
            <p>Make sure to wear waterproof clothing, or bring an umbrella! Also, keep in mind that roads can be more slippery when wet.</p>
        </div>
        <div class="help1">
            <h2>High pollen count</h2>
            <p>If you suffer from hay fever, be sure you know the risks and learn to prevent them.</p>
        </div>
        <div class="help2">
            <h2>Cold temperatures soon</h2>
            <p>Wrap up nice and warm! Additionally, maybe stay at home and keep warm with a hot water bottle if you can.</p>
        </div>
    </div>
</body>
</html>