<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Advice Group | Contact</title>
    <link rel="stylesheet" href="{{url_for('static',filename='contact.css')}}">
    
</head>
<body>
    <div class="navbar">
        <img src="/static/site/logo.png" alt="logo">
        <a class="home" href="/">Home</a>
        <a class="blog" href="/blog">Blog</a>
        <a class="weather" href="/weather">Weather</a>
        <a class="contact" href="/contact">Contact</a>
    </div>
    <h1 class="title">Contact Us</h1>
    <p>Have a question about what we do? Need some more specific advice but can't find it anywhere?<br>Send us an email!</p>

    <!-- form -->
    <div class="form">
        <input class="reply_email" value="Email" type="text">
        <input class="name" value="Name" type="text">
        <input class="subject" value="Subject" type="text">
        <textarea class="email_body">Body</textarea>
        <p class="Message"></p>
        <button class="Send" onclick="Submit()">Send <img src="static\site\go-arrow.png"></button>
    </div>
    <script src="{{url_for('static',filename='contact.js')}}"></script>
</body>