<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Advice Group | Admin</title>
    <link rel="stylesheet" href="{{url_for('static',filename='admin.css')}}">
</head>
<body>
    <div class="navbar">
        <img src="/static/site/logo.png" alt="logo">
        <a class="home" href="/">Home</a>
        <a class="blog" href="/blog">Blog</a>
        <a class="weather" href="/weather">Weather</a>
        <a class="contact" href="/contact">Contact</a>
    </div>
    <!--Password check-->
    <div class="password">
        <p>Password:</p>
        <input class="pword_entry" type="password">
        <button onclick="checkpass()">Submit</button>
    </div>

    <!--Main tools-->
    <div class="main">
        <!--Change password-->
        <div class="password-change">
            <p>Update Password:</p>
            <input class="new_pword_entry" type="password">
            <button onclick="changepass()">Change</button>
        </div>
        <!--Message popup-->
        <p class="response">Welcome</p>
    </div>

    <script src="{{url_for('static',filename='admin.js')}}"></script>
</body>
</html>